<div class="col-sm-1 align-middle border border-info rounded justify-content-center cell"><button @onclick="@OnOpenCell">Cell</button></div>

@code {
    private void OnOpenCell()
    {
        
    }
}
